.startBtn, .infoBtn
{
	color: deepskyblue !important;
	display: block;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
  	width: 100%;
}

.startBtn 
{
	background: #e2f1ff;
	border: 3px solid;
	border-radius: 60px;
	font-size: 30px;
	margin: 60px 0;
	padding: 40px 0;
}

.infoBtn 
{
	font-size: 12px;
}

.backBtn 
{
	background-image: url(images/icons-18-white.png) !important;
	background-position: 630px 0 !important;
	display: block !important;
	height: 18px !important;
	margin: 16px 20px !important;
	width: 18px !important;
}